.c-chat{

  display: flex;
  height: 20%;
  gap: 3rem;
  align-items: center;
  box-shadow: 5px -4px 20px 5px rgba(173,146,207,0.62);
  padding: 4rem;

}

.c-chat .form{

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;

}

.c-chat .input{

  all: unset;
  font-weight: bold;
  height: 10%;
  width: 20rem;
  padding: 2rem;
  background-color: #ad92cf;
  color: white;

}

.c-chat .input::placeholder{

  color: white;

}

.c-chat .input--message{

  font-weight: 200;

}

.c-chat .button{

  all: unset;
  background-color: white;
  color: #ad92cf;
  border: solid 0.1rem #ad92cf;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

}

.c-chat .messages{

  all: unset;
  height: 100%;
  width: 50rem;
  background-color: #ad92cf;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll

}

.messages::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

.messages::-webkit-scrollbar-thumb{
  background: linear-gradient(150deg, #D2ABD9 29%,#AD92CF 77%);
  border-radius: 11px;
}

.messages::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(181deg, #AD92CF 18%,#D2ABD9 77%);
}

.messages::-webkit-scrollbar-track{
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.c-chat .message{

  background-color: white;
  color: #ad92cf;
  padding: 1rem;
  border-radius: 0.2rem;
  height: 10%;
  display: flex;
  gap: 1rem;

}

@media only screen and (max-width: 900px) {
  .c-chat {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}